# Exclude everything
/*

# Except for default project files
!/.github
!/data
!/packaging
!/src
!build.py
!build.rs
!Cargo.lock
!Cargo.toml
!rustfmt.toml
!rust-toolchain.toml
!.gitignore
!buildspec.json
!LICENSE
!README.md

# Exclude macOS legacy resource forks
.DS_Store

# Exclude what running the workflow scripts leaves behind
__pycache__/
